$eb-color-classes: true;
$eb-colors-cssvars: false;

@import "../src/functions/all";

$eb-print-bg: true;
$eb-print-color: false;

@import "../src/colors/greyscale";
@import "../src/sections/ekstra";

$eb-print-bg: false;
$eb-print-color: true;

@import "../src/colors/greyscale";
@import "../src/sections/ekstra";
