@mixin eb-create-classes(
  $key,
  $value,
  $eb-print-bg: false,
  $eb-print-color: false
) {
  @if ($eb-print-bg == true) {
    .bg--#{$key} {
      background: map-get($value, "main");
      color: map-get($value, "foreground");
    }
  }

  @if ($eb-print-color == true) {
    .color--#{$key} {
      color: map-get($value, "main");
    }
  }

  @if ($eb-print-border == true) {
    .border--#{$key} {
      border-color: map-get($value, "main");
    }
  }
}
