@mixin eb-background-opacity($bg-colorname, $opacity: .75, $colorname: $bg-colorname) {
  $colors: eb-color-pair($bg-colorname, $colorname);

  background: rgba(map-get($colors, 'background'), $opacity);
  color: map-get($colors, 'color');
}
