@mixin eb-background($bg-colorname, $colorname: $bg-colorname) {
  $colors: color-pair($bg-colorname, $colorname);

  background: map-get($colors, 'background');
  color: map-get($colors, 'color');

}
