/*
---
title: map-collect
section: functions
---

```example:usage

$new-variable: map-collect($map1, $map2, $map3, $map4);

```
*/
@function map-collect($maps...) {
  $collection: ();

  @each $map in $maps {
    $collection: map-merge($collection, $map);
  }
  @return $collection;
}
