$eb-color-ekstra: (

    'ekstra': (
        'main'          : #bd1118,
        'foreground'    : #fff,
    ),
    'ekstra2': (
        'main'          : #fbba00,
        'foreground'    : #fff,
    )

);

$color: $eb-color-ekstra;
@each $key, $value in $color {
/*
---
title: #{$key}
section: Section specific colors
variable: eb-color-ekstra
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--#{$key}">
            #{$key}
        </div>
        <p class="eb-color--#{$key}" style="background-color: #{map-get($value, 'foreground')}">
            #{map-get($value, 'main')}
        </p>
    </div>
```
*/

  @if ($eb-color-classes == true) {
    .eb-bg--#{$key} {
        background: map-get($value, 'main');
        color: map-get($value, 'foreground');
    }
    .eb-color--#{$key} {
       color: map-get($value, 'main');
    }

  }

}

@if ($eb-colors-cssvars == true) {
    :root {
        @each $key, $value in $color {
            --eb-color--#{$key}: map-get($value, 'main');
            --eb-fgcolor--#{$key}: map-get($value, 'foreground');
        }
    }
}
