$eb-color-sport: (
  "sport": map-get($eb-colors-colors, "green")
);

$eb-print-bg: true !default;
$eb-print-color: true !default;
$color: $eb-color-sport;

@if ($eb-color-classes == true) {
  @each $key, $value in $color {
    @include eb-create-classes($key, $value, $eb-print-bg, $eb-print-color);
  }
}

@if ($eb-colors-cssvars == true) {
  :root {
    @each $key, $value in $color {
      --eb-color--#{$key}: #{map-get($value, "main")};
      --eb-fgcolor--#{$key}: #{map-get($value, "foreground")};
    }
  }
}
