$eb-color-underholdning: (
  "underholdning": map-get($eb-colors-colors, "purpledark"),
);

$eb-print-bg: true !default;
$eb-print-color: true !default;
$color: $eb-color-underholdning;

@if ($eb-color-classes == true) {
  @each $key, $value in $color {
    @include eb-create-classes($key, $value, $eb-print-bg, $eb-print-color);
  }
}

@if ($eb-colors-cssvars == true) {
  :root {
    @each $key, $value in $color {
      --color--#{$key}: #{map-get($value, "main")};
      --fgcolor--#{$key}: #{map-get($value, "foreground")};
    }
  }
}
