$eb-colors-cssvars: false !default;
  $eb-color-classes: false !default;
  $eb-print-bg: false !default;
  $eb-print-color: false !default;

@import "../functions/all";
@import "ekstra";
@import "flash";
@import "forbrug";
@import "leder";
@import "livescore";
@import "nyheder";
@import "sex-samliv";
@import "skolefodbold";
@import "sport";
@import "tv";
@import "underholdning";
  $eb-colors-sections: map-collect(
  $eb-color-ekstra,
  $eb-color-flash,
  $eb-color-forbrug,
  $eb-color-leder,
  $eb-color-livescore,
  $eb-color-nyheder,
  $eb-color-sex-samliv,
  $eb-color-skolefodbold,
  $eb-color-sport,
  $eb-color-tv,
  $eb-color-underholdning
);
