$eb-colors-cssvars: false !default;
$eb-color-classes: false !default;

@import "../functions/all";
@import "ekstra";
@import "filmmagasinet";
@import "flash";
@import "forbrug";
@import "livescore";
@import "nationen";
@import "nyheder";
@import "sex-samliv";
@import "skolefodbold";
@import "sport";
@import "tv";

$eb-colors-sections: map-collect(
    $eb-color-ekstra,
    $eb-color-filmmagasinet,
    $eb-color-flash,
    $eb-color-forbrug,
    $eb-color-livescore,
    $eb-color-nationen,
    $eb-color-nyheder,
    $eb-color-sex-samliv,
    $eb-color-skolefodbold,
    $eb-color-sport,
    $eb-color-tv
);
