$eb-color-nationen: (

  'nationen': (
      'main'          : #e58202,
      'foreground'    : #fff,
  ),
  'nationen2': (
      'main'          : #e5ad02,
      'foreground'    : #000,
  )

);

$color: $eb-color-nationen;
@each $key, $value in $color {
/*
---
title: #{$key}
section: Section specific colors
variable: eb-color-nationen
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-gb--#{$key}">
            #{$key}
        </div>
        <p class="eb-color--#{$key}" style="background-color: #{map-get($value, 'foreground')}">
            #{map-get($value, 'main')}
        </p>
    </div>
```
*/
  @if ($eb-color-classes == true) {
    .eb-gb--#{$key} {
        background: map-get($value, 'main');
        color: map-get($value, 'foreground');
    }
    .eb-color--#{$key} {
       color: map-get($value, 'main');
    }

  }
}
