$eb-color-sex-samliv: (

    'sex-samliv': (
        'main'          : #8a0c36,
        'foreground'    : #fff,
    ),
    'sex-samliv2': (
        'main'          : #dc7095,
        'foreground'    : #000,
    )

);

$color: $eb-color-sex-samliv;
@each $key, $value in $color {
/*
---
title: #{$key}
section: Section specific colors
variable: eb-color-sex-samliv
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-gb--#{$key}">
            #{$key}
        </div>
        <p class="eb-color--#{$key}" style="background-color: #{map-get($value, 'foreground')}">
            #{map-get($value, 'main')}
        </p>
    </div>
```
*/
  @if ($eb-color-classes == true) {

    .eb-gb--#{$key} {
        background: map-get($value, 'main');
        color: map-get($value, 'foreground');
    }
    .eb-color--#{$key} {
       color: map-get($value, 'main');
    }

  }
}
