$eb-color-greyscale: (

  'black': (
    'main'          : #000,
    'foreground'    : #fff,
  ),

  'graa1': (
    'main'          : #3c3c3c,
    'foreground'    : #fff,
  ),

  'graa2': (
    'main'          : #484848,
    'foreground'    : #fff,
  ),

  'graa3': (
    'main'          : #999,
    'foreground'    : #fff,
  ),

  'graa4': (
    'main'          : #c8c8c8,
    'foreground'    : #000,
  ),

  'graa5': (
    'main'          : #ddd,
    'foreground'    : #000,
  ),

  'graa6': (
    'main'          : #e5e5e5,
    'foreground'    : #000,
  ),

  'white': (
    'main'          : #fff,
    'foreground'    : #000,
  )

);

$eb-print-bg: true !default;
$eb-print-color: true !default;
$color: $eb-color-greyscale;

@if ($eb-color-classes == true) {
  @each $key, $value in $color {
    @include eb-create-classes($key, $value, $eb-print-bg, $eb-print-color);
  }
}

@if ($eb-colors-cssvars == true) {
  :root {
    @each $key, $value in $color {
      --eb-color--#{$key}: #{map-get($value, 'main')};
      --eb-fgcolor--#{$key}: #{map-get($value, 'foreground')};
    }
  }
}
