$eb-color-greyscale: (

  'black': (
      'main'          : #000,
      'foreground'    : #fff,
  ),

  'graa1': (
      'main'          : #3c3c3c,
      'foreground'    : #fff,
  ),
  'graa2': (
      'main'          : #484848,
      'foreground'    : #fff,
  ),

  'graa3': (
      'main'          : #999,
      'foreground'    : #fff,
  ),

  'graa4': (
      'main'          : #c8c8c8,
      'foreground'    : #000,
  ),

  'graa5': (
      'main'          : #ddd,
      'foreground'    : #000,
  ),

  'graa6': (
      'main'          : #e5e5e5,
      'foreground'    : #000,
  ),

  'white': (
      'main'          : #fff,
      'foreground'    : #000,
  )

);

$color: $eb-color-greyscale;
@each $key, $value in $color {
/*
---
title: #{$key}
section: General site colors
variable: eb-colors-greyscale
---

Generates all section specific color classes



```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--#{$key}">
            #{$key}
        </div>
        <p class="eb-color--#{$key}" style="background-color: #{map-get($value, 'foreground')}">
            #{map-get($value, 'main')}
        </p>
    </div>
```
*/
  @if ($eb-color-classes == true) {
      .eb-bg--#{$key} {
          background: map-get($value, 'main');
          color: map-get($value, 'foreground');
      }

      .eb-color--#{$key} {
         color: map-get($value, 'main');
      }

  }

}

@if ($eb-colors-cssvars == true) {
    :root {
        @each $key, $value in $color {
            --eb-color--#{$key}: map-get($value, 'main');
            --eb-fgcolor--#{$key}: map-get($value, 'foreground');
        }
    }
}
