$eb-color-main: (

    'eb': (
        'main'          : #bd1118,
        'foreground'    : #fff,
    ),
    'eb2': (
        'main'          : #900,
        'foreground'    : #fff,
    ),
    'breaking': (
        'main'          : #ff0,
        'foreground'    : #000,
    ),
    'breaking2': (
        'main'          : #ffcc01,
        'foreground'    : #fff,
    ),

    'bruger': (
        'main'          : #4fa8df,
        'foreground'    : #fff,
    ),

    'bruger2': (
        'main'          : #82c3ec,
        'foreground'    : #fff,
    ),

    'live': (
        'main'          : #000,
        'foreground'    : #fff,
    ),

    'live2': (
        'main'          : #fff,
        'foreground'    : #000,
    ),

    'native': (
        'main'          : #cec4a6,
        'foreground'    : #000,
    ),
    'native2': (
        'main'          : #84a8c4,
        'foreground'    : #fff,
    ),

    'stylespotter': (
        'main'          : #ec939c,
        'foreground'    : #fff,
    )

);

$color: $eb-color-main;
@if ($eb-color-classes == true) {
  @each $key, $value in $color {
      
      .eb-bg--#{$key} {
          background: map-get($value, 'main');
          color: map-get($value, 'foreground');
      }

      .eb-color--#{$key} {
         color: map-get($value, 'main');
      }

  }

}


@if ($eb-colors-cssvars == true) {
    :root {
        @each $key, $value in $color {
            --eb-color--#{$key}: map-get($value, 'main');
            --eb-fgcolor--#{$key}: map-get($value, 'foreground');
        }
    }
}
