$eb-color-blue: (
  "purpledark": (
    "main": #650188,
    "foreground": #fff
  ),
  "bluedark": (
    "main": #12507b,
    "foreground": #fff
  ),
  "blue": (
    "main": #31769b,
    "foreground": #fff
  ),
  "bluelight": (
    "main": #4fa8df,
    "foreground": #fff
  ),
  "sea": (
    "main": #84a8c4,
    "foreground": #fff
  )
);

$eb-print-bg: true !default;
$eb-print-color: true !default;
$color: $eb-color-blue;

@if ($eb-color-classes == true) {
  @each $key, $value in $color {
    @include eb-create-classes($key, $value, $eb-print-bg, $eb-print-color);
  }
}

@if ($eb-colors-cssvars == true) {
  :root {
    @each $key, $value in $color {
      --color--#{$key}: #{map-get($value, "main")};
      --fgcolor--#{$key}: #{map-get($value, "foreground")};
    }
  }
}
