$eb-color-orange: (
  "orangedark": (
    "main": #e38121,
    "foreground": #fff,
  ),
  "orange": (
    "main": #e5ad02,
    "foreground": #fff,
  ),
);

$eb-print-bg: true !default;
$eb-print-color: true !default;
$color: $eb-color-orange;

@if ($eb-color-classes == true) {
  @each $key, $value in $color {
    @include eb-create-classes($key, $value, $eb-print-bg, $eb-print-color);
  }
}

@if ($eb-colors-cssvars == true) {
  :root {
    @each $key, $value in $color {
      --color--#{$key}: #{map-get($value, "main")};
      --fgcolor--#{$key}: #{map-get($value, "foreground")};
    }
  }
}
