$eb-color-pastel: (
  "pastel-red": (
    "main": #db5040,
    "foreground": #fff
  ),
  "pastel-darkred": (
    "main": #954839,
    "foreground": #fff
  ),
  "pastel-lightred": (
    "main": #d67e9b,
    "foreground": #fff
  ),
  "pastel-green": (
    "main": #9fc29c,
    "foreground": #fff
  ),
  "pastel-darkgreen": (
    "main": #91a34f,
    "foreground": #fff
  ),
  "pastel-yellow": (
    "main": #d4c564,
    "foreground": #fff
  )
);

$eb-print-bg: true !default;
$eb-print-color: true !default;
$color: $eb-color-pastel;

@if ($eb-color-classes == true) {
  @each $key, $value in $color {
    @include eb-create-classes($key, $value, $eb-print-bg, $eb-print-color);
  }
}

@if ($eb-colors-cssvars == true) {
  :root {
    @each $key, $value in $color {
      --color--#{$key}: #{map-get($value, "main")};
      --fgcolor--#{$key}: #{map-get($value, "foreground")};
    }
  }
}
