$eb-color-red: (
  "bordeaux": (
    "main": #8a0c36,
    "foreground": #fff,
  ),
  "reddark": (
    "main": #900,
    "foreground": #fff,
  ),
  "red": (
    "main": #bd1118,
    "foreground": #fff,
  ),
  "pink": (
    "main": #b31e61,
    "foreground": #fff,
  ),
  "rose": (
    "main": #dc7095,
    "foreground": #fff,
  ),
);

$eb-print-bg: true !default;
$eb-print-color: true !default;
$color: $eb-color-red;

@if ($eb-color-classes == true) {
  @each $key, $value in $color {
    @include eb-create-classes($key, $value, $eb-print-bg, $eb-print-color);
  }
}

@if ($eb-colors-cssvars == true) {
  :root {
    @each $key, $value in $color {
      --color--#{$key}: #{map-get($value, "main")};
      --fgcolor--#{$key}: #{map-get($value, "foreground")};
    }
  }
}
