$eb-color-yellow: (
  "yellow": (
    "main": #fae500,
    "foreground": #fff
  ),
  "yellowlight": (
    "main": #ff0,
    "foreground": #000
  ),
  "sand": (
    "main": #cec4a6,
    "foreground": #fff
  )
);

$eb-print-bg: true !default;
$eb-print-color: true !default;
$color: $eb-color-yellow;

@if ($eb-color-classes == true) {
  @each $key, $value in $color {
    @include eb-create-classes($key, $value, $eb-print-bg, $eb-print-color);
  }
}

@if ($eb-colors-cssvars == true) {
  :root {
    @each $key, $value in $color {
      --color--#{$key}: #{map-get($value, "main")};
      --fgcolor--#{$key}: #{map-get($value, "foreground")};
    }
  }
}
