$eb-colors-cssvars: false !default;
$eb-color-classes: false !default;
$eb-print-bg: false !default;
$eb-print-color: false !default;

@import "../functions/all";
@import "red";
@import "orange";
@import "yellow";
@import "green";
@import "blue";
@import "greyscale";
@import "pastel";

$eb-colors-colors: map-collect(
  $eb-color-red,
  $eb-color-orange,
  $eb-color-yellow,
  $eb-color-green,
  $eb-color-blue,
  $eb-color-greyscale
);
