.bg--bordeaux {
  background: #8a0c36;
  color: #fff;
}

.bg--reddark {
  background: #900;
  color: #fff;
}

.bg--red {
  background: #bd1118;
  color: #fff;
}

.bg--rose {
  background: #dc7095;
  color: #fff;
}

.bg--orangedark {
  background: #e38121;
  color: #fff;
}

.bg--orange {
  background: #e5ad02;
  color: #fff;
}

.bg--yellow {
  background: #fae500;
  color: #fff;
}

.bg--yellowlight {
  background: #ff0;
  color: #000;
}

.bg--sand {
  background: #cec4a6;
  color: #fff;
}

.bg--greendark {
  background: #2f7820;
  color: #fff;
}

.bg--green {
  background: #32a237;
  color: #fff;
}

.bg--greenlight {
  background: #93b923;
  color: #fff;
}

.bg--lime {
  background: #cbfe33;
  color: #000;
}

.bg--purpledark {
  background: #650188;
  color: #fff;
}

.bg--bluedark {
  background: #12507b;
  color: #fff;
}

.bg--blue {
  background: #31769b;
  color: #fff;
}

.bg--bluelight {
  background: #4fa8df;
  color: #fff;
}

.bg--sea {
  background: #84a8c4;
  color: #fff;
}

.bg--black {
  background: #000;
  color: #fff;
}

.bg--graa1 {
  background: #3c3c3c;
  color: #fff;
}

.bg--graa2 {
  background: #484848;
  color: #fff;
}

.bg--graa3 {
  background: #999;
  color: #fff;
}

.bg--graa4 {
  background: #c8c8c8;
  color: #000;
}

.bg--graa5 {
  background: #ddd;
  color: #000;
}

.bg--graa6 {
  background: #e5e5e5;
  color: #000;
}

.bg--graa7 {
  background: #efefef;
  color: #000;
}

.bg--white {
  background: #fff;
  color: #000;
}

.bg--pastel-red {
  background: #db5040;
  color: #fff;
}

.bg--pastel-darkred {
  background: #954839;
  color: #fff;
}

.bg--pastel-lightred {
  background: #d67e9b;
  color: #fff;
}

.bg--pastel-green {
  background: #9fc29c;
  color: #fff;
}

.bg--pastel-darkgreen {
  background: #91a34f;
  color: #fff;
}

.bg--pastel-yellow {
  background: #d4c564;
  color: #fff;
}

.bg--eb {
  background: #bd1118;
  color: #fff;
}

.bg--eb2 {
  background: #900;
  color: #fff;
}

.bg--breaking {
  background: #ff0;
  color: #000;
}

.bg--bruger {
  background: #4fa8df;
  color: #fff;
}

.bg--live {
  background: #000;
  color: #fff;
}

.bg--native {
  background: #cec4a6;
  color: #fff;
}

.bg--native2 {
  background: #84a8c4;
  color: #fff;
}

.bg--facebook {
  background: #31769b;
  color: #fff;
}

.bg--twitter {
  background: #4fa8df;
  color: #fff;
}

.bg--ekstra {
  background: #bd1118;
  color: #fff;
}

.bg--filmmagasinet {
  background: #650188;
  color: #fff;
}

.bg--flash {
  background: #e5ad02;
  color: #fff;
}

.bg--forbrug {
  background: #31769b;
  color: #fff;
}

.bg--livescore {
  background: #32a237;
  color: #fff;
}

.bg--livescore2 {
  background: #cbfe33;
  color: #000;
}

.bg--nationen {
  background: #e38121;
  color: #fff;
}

.bg--nationen2 {
  background: #e5ad02;
  color: #fff;
}

.bg--nyheder {
  background: #12507b;
  color: #fff;
}

.bg--nyheder2 {
  background: #000;
  color: #fff;
}

.bg--sex-samliv {
  background: #8a0c36;
  color: #fff;
}

.bg--sex-samliv2 {
  background: #dc7095;
  color: #fff;
}

.bg--skolefodbold {
  background: #93b923;
  color: #fff;
}

.bg--sport {
  background: #32a237;
  color: #fff;
}

.bg--tv {
  background: #bd1118;
  color: #fff;
}

.color--bordeaux {
  color: #8a0c36;
}

.color--reddark {
  color: #900;
}

.color--red {
  color: #bd1118;
}

.color--rose {
  color: #dc7095;
}

.color--orangedark {
  color: #e38121;
}

.color--orange {
  color: #e5ad02;
}

.color--yellow {
  color: #fae500;
}

.color--yellowlight {
  color: #ff0;
}

.color--sand {
  color: #cec4a6;
}

.color--greendark {
  color: #2f7820;
}

.color--green {
  color: #32a237;
}

.color--greenlight {
  color: #93b923;
}

.color--lime {
  color: #cbfe33;
}

.color--purpledark {
  color: #650188;
}

.color--bluedark {
  color: #12507b;
}

.color--blue {
  color: #31769b;
}

.color--bluelight {
  color: #4fa8df;
}

.color--sea {
  color: #84a8c4;
}

.color--black {
  color: #000;
}

.color--graa1 {
  color: #3c3c3c;
}

.color--graa2 {
  color: #484848;
}

.color--graa3 {
  color: #999;
}

.color--graa4 {
  color: #c8c8c8;
}

.color--graa5 {
  color: #ddd;
}

.color--graa6 {
  color: #e5e5e5;
}

.color--graa7 {
  color: #efefef;
}

.color--white {
  color: #fff;
}

.color--pastel-red {
  color: #db5040;
}

.color--pastel-darkred {
  color: #954839;
}

.color--pastel-lightred {
  color: #d67e9b;
}

.color--pastel-green {
  color: #9fc29c;
}

.color--pastel-darkgreen {
  color: #91a34f;
}

.color--pastel-yellow {
  color: #d4c564;
}

.color--eb {
  color: #bd1118;
}

.color--eb2 {
  color: #900;
}

.color--breaking {
  color: #ff0;
}

.color--bruger {
  color: #4fa8df;
}

.color--live {
  color: #000;
}

.color--native {
  color: #cec4a6;
}

.color--native2 {
  color: #84a8c4;
}

.color--facebook {
  color: #31769b;
}

.color--twitter {
  color: #4fa8df;
}

.color--ekstra {
  color: #bd1118;
}

.color--filmmagasinet {
  color: #650188;
}

.color--flash {
  color: #e5ad02;
}

.color--forbrug {
  color: #31769b;
}

.color--livescore {
  color: #32a237;
}

.color--livescore2 {
  color: #cbfe33;
}

.color--nationen {
  color: #e38121;
}

.color--nationen2 {
  color: #e5ad02;
}

.color--nyheder {
  color: #12507b;
}

.color--nyheder2 {
  color: #000;
}

.color--sex-samliv {
  color: #8a0c36;
}

.color--sex-samliv2 {
  color: #dc7095;
}

.color--skolefodbold {
  color: #93b923;
}

.color--sport {
  color: #32a237;
}

.color--tv {
  color: #bd1118;
}

.border--black {
  border-color: #000;
}

.border--graa1 {
  border-color: #3c3c3c;
}

.border--graa2 {
  border-color: #484848;
}

.border--graa3 {
  border-color: #999;
}

.border--graa4 {
  border-color: #c8c8c8;
}

.border--graa5 {
  border-color: #ddd;
}

.border--graa6 {
  border-color: #e5e5e5;
}

.border--graa7 {
  border-color: #efefef;
}

.border--white {
  border-color: #fff;
}
