$eb-colors-cssvars: false !default;
$eb-color-classes: false !default;

$eb-print-bg: true;
$eb-print-color: false;

@import "general/all";
@import "sections/all";

$eb-print-bg: false;
$eb-print-color: true;

@import "general/all";
@import "sections/all";

$eb-colors: map-merge($eb-colors-general, $eb-colors-sections);
