$eb-colors-cssvars: false !default;
$eb-color-classes: false !default;

$eb-print-bg: true;
$eb-print-color: false;
$eb-print-border: false;

@import "colors/all";
@import "general/all";
@import "sections/all";

$eb-print-bg: false;
$eb-print-color: true;
$eb-print-border: false;

@import "colors/all";
@import "general/all";
@import "sections/all";

$eb-print-bg: false;
$eb-print-color: false;
$eb-print-border: true;

@import "colors/greyscale";

$eb-colors: map-collect(
  $eb-colors-colors,
  $eb-colors-general,
  $eb-colors-sections
);
