/*
*/
/*
---
title: map-collect
section: functions
---

```example:usage

$new-variable: map-collect($map1, $map2, $map3, $map4);

```
*/
/*
---
title: eb
section: General site colors
variable: eb-color-main
---

Generates all section specific color classes

```example:css
    <div class="color_example">
        <div class="color_swap eb-bg--eb">
            eb
        </div>
        <p class="eb-color--eb" style="background-color: #fff">
            #bd1118
        </p>
    </div>
```

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--eb">
            eb
        </div>
        <p class="eb-color--eb" style="background-color: #fff">
            #bd1118
        </p>
    </div>
```
*/
.eb-bg--eb {
  background: #bd1118;
  color: #fff; }

.eb-color--eb {
  color: #bd1118; }

/*
---
title: eb2
section: General site colors
variable: eb-color-main
---

Generates all section specific color classes

```example:css
    <div class="color_example">
        <div class="color_swap eb-bg--eb2">
            eb2
        </div>
        <p class="eb-color--eb2" style="background-color: #fff">
            #900
        </p>
    </div>
```

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--eb2">
            eb2
        </div>
        <p class="eb-color--eb2" style="background-color: #fff">
            #900
        </p>
    </div>
```
*/
.eb-bg--eb2 {
  background: #900;
  color: #fff; }

.eb-color--eb2 {
  color: #900; }

/*
---
title: breaking
section: General site colors
variable: eb-color-main
---

Generates all section specific color classes

```example:css
    <div class="color_example">
        <div class="color_swap eb-bg--breaking">
            breaking
        </div>
        <p class="eb-color--breaking" style="background-color: #000">
            #ff0
        </p>
    </div>
```

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--breaking">
            breaking
        </div>
        <p class="eb-color--breaking" style="background-color: #000">
            #ff0
        </p>
    </div>
```
*/
.eb-bg--breaking {
  background: #ff0;
  color: #000; }

.eb-color--breaking {
  color: #ff0; }

/*
---
title: breaking2
section: General site colors
variable: eb-color-main
---

Generates all section specific color classes

```example:css
    <div class="color_example">
        <div class="color_swap eb-bg--breaking2">
            breaking2
        </div>
        <p class="eb-color--breaking2" style="background-color: #fff">
            #ffcc01
        </p>
    </div>
```

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--breaking2">
            breaking2
        </div>
        <p class="eb-color--breaking2" style="background-color: #fff">
            #ffcc01
        </p>
    </div>
```
*/
.eb-bg--breaking2 {
  background: #ffcc01;
  color: #fff; }

.eb-color--breaking2 {
  color: #ffcc01; }

/*
---
title: bruger
section: General site colors
variable: eb-color-main
---

Generates all section specific color classes

```example:css
    <div class="color_example">
        <div class="color_swap eb-bg--bruger">
            bruger
        </div>
        <p class="eb-color--bruger" style="background-color: #fff">
            #4fa8df
        </p>
    </div>
```

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--bruger">
            bruger
        </div>
        <p class="eb-color--bruger" style="background-color: #fff">
            #4fa8df
        </p>
    </div>
```
*/
.eb-bg--bruger {
  background: #4fa8df;
  color: #fff; }

.eb-color--bruger {
  color: #4fa8df; }

/*
---
title: bruger2
section: General site colors
variable: eb-color-main
---

Generates all section specific color classes

```example:css
    <div class="color_example">
        <div class="color_swap eb-bg--bruger2">
            bruger2
        </div>
        <p class="eb-color--bruger2" style="background-color: #fff">
            #82c3ec
        </p>
    </div>
```

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--bruger2">
            bruger2
        </div>
        <p class="eb-color--bruger2" style="background-color: #fff">
            #82c3ec
        </p>
    </div>
```
*/
.eb-bg--bruger2 {
  background: #82c3ec;
  color: #fff; }

.eb-color--bruger2 {
  color: #82c3ec; }

/*
---
title: live
section: General site colors
variable: eb-color-main
---

Generates all section specific color classes

```example:css
    <div class="color_example">
        <div class="color_swap eb-bg--live">
            live
        </div>
        <p class="eb-color--live" style="background-color: #fff">
            #000
        </p>
    </div>
```

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--live">
            live
        </div>
        <p class="eb-color--live" style="background-color: #fff">
            #000
        </p>
    </div>
```
*/
.eb-bg--live {
  background: #000;
  color: #fff; }

.eb-color--live {
  color: #000; }

/*
---
title: live2
section: General site colors
variable: eb-color-main
---

Generates all section specific color classes

```example:css
    <div class="color_example">
        <div class="color_swap eb-bg--live2">
            live2
        </div>
        <p class="eb-color--live2" style="background-color: #000">
            #fff
        </p>
    </div>
```

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--live2">
            live2
        </div>
        <p class="eb-color--live2" style="background-color: #000">
            #fff
        </p>
    </div>
```
*/
.eb-bg--live2 {
  background: #fff;
  color: #000; }

.eb-color--live2 {
  color: #fff; }

/*
---
title: native
section: General site colors
variable: eb-color-main
---

Generates all section specific color classes

```example:css
    <div class="color_example">
        <div class="color_swap eb-bg--native">
            native
        </div>
        <p class="eb-color--native" style="background-color: #000">
            #cec4a6
        </p>
    </div>
```

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--native">
            native
        </div>
        <p class="eb-color--native" style="background-color: #000">
            #cec4a6
        </p>
    </div>
```
*/
.eb-bg--native {
  background: #cec4a6;
  color: #000; }

.eb-color--native {
  color: #cec4a6; }

/*
---
title: native2
section: General site colors
variable: eb-color-main
---

Generates all section specific color classes

```example:css
    <div class="color_example">
        <div class="color_swap eb-bg--native2">
            native2
        </div>
        <p class="eb-color--native2" style="background-color: #fff">
            #84a8c4
        </p>
    </div>
```

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--native2">
            native2
        </div>
        <p class="eb-color--native2" style="background-color: #fff">
            #84a8c4
        </p>
    </div>
```
*/
.eb-bg--native2 {
  background: #84a8c4;
  color: #fff; }

.eb-color--native2 {
  color: #84a8c4; }

/*
---
title: stylespotter
section: General site colors
variable: eb-color-main
---

Generates all section specific color classes

```example:css
    <div class="color_example">
        <div class="color_swap eb-bg--stylespotter">
            stylespotter
        </div>
        <p class="eb-color--stylespotter" style="background-color: #fff">
            #ec939c
        </p>
    </div>
```

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--stylespotter">
            stylespotter
        </div>
        <p class="eb-color--stylespotter" style="background-color: #fff">
            #ec939c
        </p>
    </div>
```
*/
.eb-bg--stylespotter {
  background: #ec939c;
  color: #fff; }

.eb-color--stylespotter {
  color: #ec939c; }

/*
---
title: black
section: General site colors
variable: eb-colors-greyscale
---

Generates all section specific color classes



```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--black">
            black
        </div>
        <p class="eb-color--black" style="background-color: #fff">
            #000
        </p>
    </div>
```
*/
.eb-bg--black {
  background: #000;
  color: #fff; }

.eb-color--black {
  color: #000; }

/*
---
title: graa1
section: General site colors
variable: eb-colors-greyscale
---

Generates all section specific color classes



```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--graa1">
            graa1
        </div>
        <p class="eb-color--graa1" style="background-color: #fff">
            #3c3c3c
        </p>
    </div>
```
*/
.eb-bg--graa1 {
  background: #3c3c3c;
  color: #fff; }

.eb-color--graa1 {
  color: #3c3c3c; }

/*
---
title: graa2
section: General site colors
variable: eb-colors-greyscale
---

Generates all section specific color classes



```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--graa2">
            graa2
        </div>
        <p class="eb-color--graa2" style="background-color: #fff">
            #484848
        </p>
    </div>
```
*/
.eb-bg--graa2 {
  background: #484848;
  color: #fff; }

.eb-color--graa2 {
  color: #484848; }

/*
---
title: graa3
section: General site colors
variable: eb-colors-greyscale
---

Generates all section specific color classes



```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--graa3">
            graa3
        </div>
        <p class="eb-color--graa3" style="background-color: #fff">
            #999
        </p>
    </div>
```
*/
.eb-bg--graa3 {
  background: #999;
  color: #fff; }

.eb-color--graa3 {
  color: #999; }

/*
---
title: graa4
section: General site colors
variable: eb-colors-greyscale
---

Generates all section specific color classes



```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--graa4">
            graa4
        </div>
        <p class="eb-color--graa4" style="background-color: #000">
            #c8c8c8
        </p>
    </div>
```
*/
.eb-bg--graa4 {
  background: #c8c8c8;
  color: #000; }

.eb-color--graa4 {
  color: #c8c8c8; }

/*
---
title: graa5
section: General site colors
variable: eb-colors-greyscale
---

Generates all section specific color classes



```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--graa5">
            graa5
        </div>
        <p class="eb-color--graa5" style="background-color: #000">
            #ddd
        </p>
    </div>
```
*/
.eb-bg--graa5 {
  background: #ddd;
  color: #000; }

.eb-color--graa5 {
  color: #ddd; }

/*
---
title: graa6
section: General site colors
variable: eb-colors-greyscale
---

Generates all section specific color classes



```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--graa6">
            graa6
        </div>
        <p class="eb-color--graa6" style="background-color: #000">
            #e5e5e5
        </p>
    </div>
```
*/
.eb-bg--graa6 {
  background: #e5e5e5;
  color: #000; }

.eb-color--graa6 {
  color: #e5e5e5; }

/*
---
title: white
section: General site colors
variable: eb-colors-greyscale
---

Generates all section specific color classes



```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--white">
            white
        </div>
        <p class="eb-color--white" style="background-color: #000">
            #fff
        </p>
    </div>
```
*/
.eb-bg--white {
  background: #fff;
  color: #000; }

.eb-color--white {
  color: #fff; }

/*
---
title: black
section: General site colors
variable: eb-color-greyscale
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--black">
            black
        </div>
        <p class="eb-color--black" style="background-color: #fff">
            #000
        </p>
    </div>
```
*/
.eb-bg--black {
  background: #000;
  color: #fff; }

.eb-color--black {
  color: #000; }

/*
---
title: graa1
section: General site colors
variable: eb-color-greyscale
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--graa1">
            graa1
        </div>
        <p class="eb-color--graa1" style="background-color: #fff">
            #3c3c3c
        </p>
    </div>
```
*/
.eb-bg--graa1 {
  background: #3c3c3c;
  color: #fff; }

.eb-color--graa1 {
  color: #3c3c3c; }

/*
---
title: graa2
section: General site colors
variable: eb-color-greyscale
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--graa2">
            graa2
        </div>
        <p class="eb-color--graa2" style="background-color: #fff">
            #484848
        </p>
    </div>
```
*/
.eb-bg--graa2 {
  background: #484848;
  color: #fff; }

.eb-color--graa2 {
  color: #484848; }

/*
---
title: graa3
section: General site colors
variable: eb-color-greyscale
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--graa3">
            graa3
        </div>
        <p class="eb-color--graa3" style="background-color: #fff">
            #999
        </p>
    </div>
```
*/
.eb-bg--graa3 {
  background: #999;
  color: #fff; }

.eb-color--graa3 {
  color: #999; }

/*
---
title: graa4
section: General site colors
variable: eb-color-greyscale
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--graa4">
            graa4
        </div>
        <p class="eb-color--graa4" style="background-color: #000">
            #c8c8c8
        </p>
    </div>
```
*/
.eb-bg--graa4 {
  background: #c8c8c8;
  color: #000; }

.eb-color--graa4 {
  color: #c8c8c8; }

/*
---
title: graa5
section: General site colors
variable: eb-color-greyscale
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--graa5">
            graa5
        </div>
        <p class="eb-color--graa5" style="background-color: #000">
            #ddd
        </p>
    </div>
```
*/
.eb-bg--graa5 {
  background: #ddd;
  color: #000; }

.eb-color--graa5 {
  color: #ddd; }

/*
---
title: graa6
section: General site colors
variable: eb-color-greyscale
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--graa6">
            graa6
        </div>
        <p class="eb-color--graa6" style="background-color: #000">
            #e5e5e5
        </p>
    </div>
```
*/
.eb-bg--graa6 {
  background: #e5e5e5;
  color: #000; }

.eb-color--graa6 {
  color: #e5e5e5; }

/*
---
title: white
section: General site colors
variable: eb-color-greyscale
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--white">
            white
        </div>
        <p class="eb-color--white" style="background-color: #000">
            #fff
        </p>
    </div>
```
*/
.eb-bg--white {
  background: #fff;
  color: #000; }

.eb-color--white {
  color: #fff; }

/*
*/
/*
---
title: map-collect
section: functions
---

```example:usage

$new-variable: map-collect($map1, $map2, $map3, $map4);

```
*/
/*
---
title: ekstra
section: Section specific colors
variable: eb-color-ekstra
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--ekstra">
            ekstra
        </div>
        <p class="eb-color--ekstra" style="background-color: #fff">
            #bd1118
        </p>
    </div>
```
*/
.eb-bg--ekstra {
  background: #bd1118;
  color: #fff; }

.eb-color--ekstra {
  color: #bd1118; }

/*
---
title: ekstra2
section: Section specific colors
variable: eb-color-ekstra
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--ekstra2">
            ekstra2
        </div>
        <p class="eb-color--ekstra2" style="background-color: #fff">
            #fbba00
        </p>
    </div>
```
*/
.eb-bg--ekstra2 {
  background: #fbba00;
  color: #fff; }

.eb-color--ekstra2 {
  color: #fbba00; }

/*
---
title: filmmagasinet
section: Section specific colors
variable: eb-color-filmmagasinet
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--filmmagasinet">
            filmmagasinet
        </div>
        <p class="eb-color--filmmagasinet" style="background-color: #fff">
            #650188
        </p>
    </div>
```
*/
.eb-bg--filmmagasinet {
  background: #650188;
  color: #fff; }

.eb-color--filmmagasinet {
  color: #650188; }

/*
---
title: filmmagasinet2
section: Section specific colors
variable: eb-color-filmmagasinet
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--filmmagasinet2">
            filmmagasinet2
        </div>
        <p class="eb-color--filmmagasinet2" style="background-color: #000">
            #c876e5
        </p>
    </div>
```
*/
.eb-bg--filmmagasinet2 {
  background: #c876e5;
  color: #000; }

.eb-color--filmmagasinet2 {
  color: #c876e5; }

/*
---
title: flash
section: Section specific colors
variable: eb-color-flash
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--flash">
            flash
        </div>
        <p class="eb-color--flash" style="background-color: #fff">
            #900
        </p>
    </div>
```
*/
.eb-bg--flash {
  background: #900;
  color: #fff; }

.eb-color--flash {
  color: #900; }

/*
---
title: flash2
section: Section specific colors
variable: eb-color-flash
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--flash2">
            flash2
        </div>
        <p class="eb-color--flash2" style="background-color: #fff">
            #bd1118
        </p>
    </div>
```
*/
.eb-bg--flash2 {
  background: #bd1118;
  color: #fff; }

.eb-color--flash2 {
  color: #bd1118; }

/*
---
title: forbrug
section: Section specific colors
variable: eb-color-forbrug
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--forbrug">
            forbrug
        </div>
        <p class="eb-color--forbrug" style="background-color: #fff">
            #31769b
        </p>
    </div>
```
*/
.eb-bg--forbrug {
  background: #31769b;
  color: #fff; }

.eb-color--forbrug {
  color: #31769b; }

/*
---
title: forbrug2
section: Section specific colors
variable: eb-color-forbrug
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--forbrug2">
            forbrug2
        </div>
        <p class="eb-color--forbrug2" style="background-color: #000">
            #4fa8df
        </p>
    </div>
```
*/
.eb-bg--forbrug2 {
  background: #4fa8df;
  color: #000; }

.eb-color--forbrug2 {
  color: #4fa8df; }

/*
---
title: livescore
section: Section specific colors
variable: eb-color-livescore
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--livescore">
            livescore
        </div>
        <p class="eb-color--livescore" style="background-color: #fff">
            #32a237
        </p>
    </div>
```
*/
.eb-bg--livescore {
  background: #32a237;
  color: #fff; }

.eb-color--livescore {
  color: #32a237; }

/*
---
title: livescore2
section: Section specific colors
variable: eb-color-livescore
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--livescore2">
            livescore2
        </div>
        <p class="eb-color--livescore2" style="background-color: #000">
            #cbfe33
        </p>
    </div>
```
*/
.eb-bg--livescore2 {
  background: #cbfe33;
  color: #000; }

.eb-color--livescore2 {
  color: #cbfe33; }

/*
---
title: nationen
section: Section specific colors
variable: eb-color-nationen
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--nationen">
            nationen
        </div>
        <p class="eb-color--nationen" style="background-color: #fff">
            #e58202
        </p>
    </div>
```
*/
.eb-bg--nationen {
  background: #e58202;
  color: #fff; }

.eb-color--nationen {
  color: #e58202; }

/*
---
title: nationen2
section: Section specific colors
variable: eb-color-nationen
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--nationen2">
            nationen2
        </div>
        <p class="eb-color--nationen2" style="background-color: #000">
            #e5ad02
        </p>
    </div>
```
*/
.eb-bg--nationen2 {
  background: #e5ad02;
  color: #000; }

.eb-color--nationen2 {
  color: #e5ad02; }

/*
---
title: nyheder
section: Section specific colors
variable: eb-color-nyheder
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--nyheder">
            nyheder
        </div>
        <p class="eb-color--nyheder" style="background-color: #fff">
            #000
        </p>
    </div>
```
*/
.eb-bg--nyheder {
  background: #000;
  color: #fff; }

.eb-color--nyheder {
  color: #000; }

/*
---
title: nyheder2
section: Section specific colors
variable: eb-color-nyheder
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--nyheder2">
            nyheder2
        </div>
        <p class="eb-color--nyheder2" style="background-color: #fff">
            #12507b
        </p>
    </div>
```
*/
.eb-bg--nyheder2 {
  background: #12507b;
  color: #fff; }

.eb-color--nyheder2 {
  color: #12507b; }

/*
---
title: sex-samliv
section: Section specific colors
variable: eb-color-sex-samliv
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--sex-samliv">
            sex-samliv
        </div>
        <p class="eb-color--sex-samliv" style="background-color: #fff">
            #8a0c36
        </p>
    </div>
```
*/
.eb-bg--sex-samliv {
  background: #8a0c36;
  color: #fff; }

.eb-color--sex-samliv {
  color: #8a0c36; }

/*
---
title: sex-samliv2
section: Section specific colors
variable: eb-color-sex-samliv
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--sex-samliv2">
            sex-samliv2
        </div>
        <p class="eb-color--sex-samliv2" style="background-color: #000">
            #dc7095
        </p>
    </div>
```
*/
.eb-bg--sex-samliv2 {
  background: #dc7095;
  color: #000; }

.eb-color--sex-samliv2 {
  color: #dc7095; }

/*
---
title: skolefodbold
section: Section specific colors
variable: eb-color-skolefodbold
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--skolefodbold">
            skolefodbold
        </div>
        <p class="eb-color--skolefodbold" style="background-color: #fff">
            #93b923
        </p>
    </div>
```
*/
.eb-bg--skolefodbold {
  background: #93b923;
  color: #fff; }

.eb-color--skolefodbold {
  color: #93b923; }

/*
---
title: skolefodbold2
section: Section specific colors
variable: eb-color-skolefodbold
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--skolefodbold2">
            skolefodbold2
        </div>
        <p class="eb-color--skolefodbold2" style="background-color: #fff">
            #32a237
        </p>
    </div>
```
*/
.eb-bg--skolefodbold2 {
  background: #32a237;
  color: #fff; }

.eb-color--skolefodbold2 {
  color: #32a237; }

/*
---
title: sport
section: Section specific colors
variable: eb-color-sport
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--sport">
            sport
        </div>
        <p class="eb-color--sport" style="background-color: #fff">
            #32a237
        </p>
    </div>
```
*/
.eb-bg--sport {
  background: #32a237;
  color: #fff; }

.eb-color--sport {
  color: #32a237; }

/*
---
title: sport2
section: Section specific colors
variable: eb-color-sport
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--sport2">
            sport2
        </div>
        <p class="eb-color--sport2" style="background-color: #fff">
            #2f7820
        </p>
    </div>
```
*/
.eb-bg--sport2 {
  background: #2f7820;
  color: #fff; }

.eb-color--sport2 {
  color: #2f7820; }

/*
---
title: tv
section: Section specific colors
variable: eb-color-tv
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--tv">
            tv
        </div>
        <p class="eb-color--tv" style="background-color: #fff">
            #000
        </p>
    </div>
```
*/
.eb-bg--tv {
  background: #000;
  color: #fff; }

.eb-color--tv {
  color: #000; }

/*
---
title: tv2
section: Section specific colors
variable: eb-color-tv
---

Generates all section specific color classes

```example:html
    <div class="color_example">
        <div class="color_swap eb-bg--tv2">
            tv2
        </div>
        <p class="eb-color--tv2" style="background-color: #fff">
            #bd1118
        </p>
    </div>
```
*/
.eb-bg--tv2 {
  background: #bd1118;
  color: #fff; }

.eb-color--tv2 {
  color: #bd1118; }

.new-class {
  background: #bd1118;
  color: #fff; }

/*# sourceMappingURL=output.css.map */
